<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <h1><%= title %></h1>
    <h3>Objc ~> Swift Comparison Report</h3>

    <p>Should be the table~~~</p>

    <script src="Chart.bundle.min.js"></script>
    <script></script>
  </body>
</html>
